body{
	background-image: url("pexels-photo.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

.form-box {
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-wizard {
	padding: 25px; 
	background: #fff;
	margin-top: 100px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow: 0px 0px 6px 3px #777;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    opacity: 0.9;
}

/** Form Body Material **/

.form-body-material .form-control {
	height: 44px;
    margin: 0;
    padding: 0 20px;
    background: #f8f8f8 none repeat scroll 0 0;
	border: 0px;
	border-bottom: 2px solid #ddd;
    font-family: 'Roboto', FontAwesome;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material .form-control:focus {
	outline: 0;
	background: #f8f8f8 none repeat scroll 0 0;
    border: 0px;
	border-bottom: 2px solid #008B8B;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.form-body-material.form-wizard .btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    border: 2px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

/** Form Body Material **/


/** Form header Classic **/

.form-header-classic .form-wizard-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 16px; 
	color: #fff; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
}
.form-header-classic .form-wizard-step.activated .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #008B8B; 
	color: #008B8B; 
	line-height: 38px;
}
.form-header-classic .form-wizard-step.active .form-wizard-step-icon {
	width: 48px; 
	height: 48px; 
	margin-top: 0; 
	background: #008B8B; 
	font-size: 22px; 
	line-height: 48px;
}

.form-header-classic .form-wizard-step p { color: #ccc; }
.form-header-classic .form-wizard-step.activated p { color: #008B8B; }
.form-header-classic .form-wizard-step.active p { color: #008B8B; }

/** Form header Classic **/

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
	color: #008B8B;
	text-decoration: none;
}

.form-wizard strong { 
	font-weight: 500; 
}

.form-wizard h1, .form-wizard h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.form-wizard h3 {
	font-size: 25px;
    font-weight: 300;
    color:  	#008B8B;
    line-height: 30px;
	margin-top: 0; 
	margin-bottom: 5px; 
	text-transform: uppercase; 
}

.form-wizard h4 {
	float: left;
	font-size: 20px;
    font-weight: 300;
    color: #008B8B;
    line-height: 26px;
	width:100%;
}
.form-wizard h4  span{
	float:right;
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

.form-wizard .success1 {
	color: darkcyan;
	font-size: 38px;
	font-weight: 100;
	line-height: 50px;
}

.form-wizard .success2 {
	color: black;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

.form-wizard ::-moz-selection { background: #008B8B; color: #fff; text-shadow: none; }
.form-wizard ::selection { background: #008B8B; color: #fff; text-shadow: none; }

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	position: absolute;
	margin-top: 9px;
	margin-left: -20px;
}

.form-control option:hover, .form-control option:checked  {
    box-shadow: 0 0 10px 100px  #008B8B inset;
}

.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard label { 
	font-weight: 300;
	float: left;
 }

.form-wizard label span { 
	color: #008B8B;
}

.form-wizard .btn:hover {
	background: #fff; 
	color: darkcyan; 
}

.form-wizard .btn:active { 
	outline: 0; 
	background: #fff; 
	color: darkcyan; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
}

.form-wizard .nextbtn:focus,
.form-wizard .nextbtn:active:focus, 
.form-wizard .nextbtn.active:focus { 
	outline: 0; 
	background: #008B8B;
	color: #fff; 
}

.form-wizard .donebtn,
.form-wizard .donebtn:focus,
.form-wizard .donebtn:active:focus, 
.form-wizard .donebtn.active:focus { 
	background: #008B8B;
}

.form-wizard .success h3{
	color: #008B8B;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard .success .success-icon {
	color: #7b1fa2;
	font-size: 100px;
	border: 5px solid #7b1fa2;
	border-radius: 100px;
	text-align: center !important;
	width: 110px;
	margin: 25px auto;
}
.form-wizard .progress-bar {
	background-color: #008B8B;
}

.form-wizard-steps { 
	margin:auto; 
	overflow: hidden; 
	position: relative;
	margin-top: 20px;
}

.form-wizard-progress { 
	position: absolute; 
	top: 24px; 
	left: 0;
	width: 100%; 
	height: 1px; 
	background: #ddd;
}
.form-wizard-progress-line { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 1px; 
	background: #008B8B; 
}


.form-wizard-steps .form-wizard-tolal-steps-3 { 
	position: relative;
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
	position: relative; 
	float: left; 
	width: 25%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}

.form-wizard fieldset { 
	display: none; 
	text-align: left; 
	border:0px !important;
}

.form-wizard-buttons {
	text-align: right;
}

#next-form2, #next-form3, #next-form4, #next-form5 {
	background-color: darkcyan; 
	color: white; 
}

.form-wizard .input-error { 
	border-color: #008B8B;
}
	